<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Agreagateur.Pdf" version="1.0.0" targetFramework="net461" />
  <package id="CoreHtmlToImage" version="1.0.5" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.9.0" targetFramework="net461" />
  <package id="dvp-net" version="0.6.1" targetFramework="net461" />
  <package id="FParsec" version="1.0.3" targetFramework="net461" />
  <package id="FSharp.Core" version="4.5.4" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net461" />
  <package id="itextsharp.xmlworker" version="5.5.13" targetFramework="net461" />
  <package id="MathNet.Numerics" version="4.7.0" targetFramework="net461" />
  <package id="MathNet.Numerics.FSharp" version="4.7.0" targetFramework="net461" />
  <package id="MathNet.Symbolics" version="0.20.0" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.Modeling.Sdk.11.0" version="4.0.30319" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="OPTANO.Modeling" version="2.14.1.430" targetFramework="net461" />
  <package id="PDFsharp" version="1.32.3057.0" targetFramework="net461" />
  <package id="Syncfusion.Compression.Base" version="16.4.0.42" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="16.4.0.42" targetFramework="net461" />
  <package id="Syncfusion.Pdf.AspNet.Mvc5" version="16.4.0.42" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net461" />
</packages>